node-version = 18.4.0
use-beta-cli=true
engine-strict=true
strict-peer-dependencies=false
child-concurrency=10 
save-prefix=
tag=latest
store-dir=./node_modules/storepnpm
save-workspace-protocol=rolling

# 
# save-dev true 
# hoist true   							            // all dependencies are hoisted to node_modules/.pnpm
# hoist-pattern ['*']  
# public-hoist-pattern ['*phantomdependencies*']  
# shamefully-hoist false 
# node-linker isolated  					        // pnp isolated hoisted 
# symlink true  							        // recommended false for above node-linker = pnp
# package-import-method hardlink  		            // auto, hardlink, copy, clone
# lockfile true  							        // pnpm-lock.yaml
# prefer-frozen-lockfile true  			            // headless installation
# registry https://registry.npmjs.org/  	        // trailing slash included
# auto-install-peers false  				        // missing non-optional peer dependencies
# strict-peer-dependencies false  		            // commands will fail if there is a missing or invalid peer dependency in the tree
# loglevel info  							        // debug, info[default], warn, error
# 											        // npm WARN invalid config Must be one of: silent, error, warn, notice, http, timing, info, verbose, silly																									
# use-beta-cli true 
# engine-strict true  					            // pnpm will not install any package that claims to not be compatible with the current Node version
# child-concurrency 10  					        // child processes to allocate simultaneously to build node_modules
# unsafe-perm false  						        // false IF running as root, ELSE true
# link-workspace-packages deep  			        // true[default], false, deep
# save-prefix ^ 							        // ^ or ~ or nothing
# tag latest 								        // 1.1.1@latest/next
